.body {
    color: rgba(0, 0, 0, 0.8);
    background-color: #ffffff;
}

.list{
    list-style: none;;
}
/* цвет оcновного текста #000000 */

/* цвет вторичного текста rgba(0, 0, 0, 0.8) */

/* цвет главного фона #ffffff */

/* аксент #18A0FB */

/* цвет вторичного фона #f5f5f5 */

.logo{
    color: #000000;
}

.logo:hover {
color: #18A0FB;
}


/* Site nav */

.site-nav .link {
    color: #18A0FB;
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: #000000;
}

.section-title {
    color: #000000;
}