.body {
    color: rgba(0, 0, 0, 0.8);
    background-color: #ffffff;
}

ul{
    list-style: none;;
}
/* цвет оcновного текста #000000 */

/* цвет вторичного текста rgba(0, 0, 0, 0.8) */

/* цвет главного фона #ffffff */

/* аксент #18A0FB */

/* цвет вторичного фона #f5f5f5 */

.logo{
    color: #000000;
}